#rules-nav{
    list-style-type: none;
    text-align: center;
    
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    display: inline;   
}

li a {
    color: #666;


    font-weight: 300px;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #0FE369;
}


dd{
    display: block;
    margin-inline-start: 0;
}

dt{
    color: #0ed862;
    font-weight: bold;
    font-style: italic;
}

#mc-rules{
    color: #0ed862;
    font-weight: bold;
}

#chat-rules {
    color: #0ed862;
    font-weight: bold;
}

#store-rules{
    color: #0ed862;
    font-weight: bold;
}

#support{
    color: #0ed862;
    font-weight: bold;
}

#service{
    color: #0ed862;
    font-weight: bold;

}

#privacy{
    color: #0ed862;
    font-weight: bold;
}