#rules-nav{
    list-style-type: none;
    text-align: center;

    margin: 0;
    padding: 0;
    overflow: hidden;
}

.rules-header {
    font-size: 2.5em;
    font-weight: 800;
    margin: 0 auto;
    font-family: "RocknRoll One", sans-serif;
    color: #0ed862;
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    display: inline;   
}

li a {
    color: #666;
    font-weight: 300;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #0FE369;
}

dd{
    display: block;
    margin-inline-start: 0;
}

dt{
    color: #0ed862;
    font-weight: bold;
    font-style: italic;
}

hr{
    border-color:#0ed862;
    background-color: #0ed862;
    opacity: .4;
}

#mc-rules{
    color: #0ed862;
    font-weight: bold;
}

#chat-rules {
    color: #0ed862;
    font-weight: bold;
}

#store-rules{
    color: #0ed862;
    font-weight: bold;
}

#support{
    color: #0ed862;
    font-weight: bold;
}

#service{
    color: #0ed862;
    font-weight: bold;

}

#privacy{
    color: #0ed862;
    font-weight: bold;
}
