#blog-home {
    min-height: 100vh;
    padding-top: 2em;
}

.blog-header-container {
    width: 80%;
    margin: auto;
}

.blog-home-content {
    display: flex;
    width: 80%;
    margin: 3em auto;
}

.blog-home-filter-container {
    width: 15%;
}

.blog-home-blog-container {
    width: 80%;
    margin-left: auto;
}

.blog-subheader-container {
    display: flex;
}

.blog-subheader {
    text-align: left;
    color: #2c2c2c;
    margin: 0 auto 0 0;
    font-size: 1.3em;
}


