#homepage {
    min-height: 100vh;
    background-color: #fcfcfc;
}

.homepage-header {
    font-size: 2.5em;
    font-weight: 800;
    text-align: left;
    margin: 0 auto;
    font-family: "RocknRoll One", sans-serif;
    color: #0ed862;
}

#discover-container  {
    width: 60%;
    margin: 0 auto 2em auto;
    padding-top: 2em;
}

#latest-news {
    width: 60%;
    margin: auto;
    padding-bottom: 4em;
}

.preview-blog-container:last-child {
    margin-bottom: 0;
}

