@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
	font-family: 'Roboto', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
}

html {
    scroll-behavior: smooth;
}

.card {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0,0,0,.12);
    background-color: #fff;
}

.separator {
    display: block;
    margin: 0.75em auto 1.5em auto;
    height: 1px;
    background-color: #0a9b46;
    opacity: 0.4;
    content: " ";
}

.block-separator {
    height: 15em;
    opacity: 1;
}

/*::selection {
    color: white;
    background: #0FE369;
}*/
/* 
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

body::-webkit-scrollbar-thumb {
    background-color: #0FE369;
} */

.text-header {
    font-family: 'RocknRoll One', sans-serif;

    color: #0ed862;
    font-weight: bold;
    font-size: 2em;
}

#error {
    width: 40%;
    background-color: whitesmoke;
    padding: 5%;
    margin: 2%;
}

#safety {
    background-color: #0FE369;
    color: white;
    font-weight: bold;
    padding: 2%;
    border-radius: 4px;
}

#safety:hover {
    background-color: #188f49;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
